.section {
    background-image: url('./../../assets/images/newsletter.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.sectionContent {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.sectionContent p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 40px;
}

.form {
    width: 100%;
}

.formRow {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 30px;
}

.formInput {
    flex: 1;
    min-width: 280px;
    font-size: 18px;
    line-height: 20px;
    padding: 16px 20px;
}

.formBtn {
    display: inline-block;
    text-align: center;
    background-color: #398fe5;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 16px 28px;
}

@media (max-width: 575.98px) {
    .formRow {
        padding: 0;
    }
}

@media (max-width: 459.98px) {
    .formRow {
        flex-direction: column;
        gap: 16px;
    }
    .formBtn {
        width: 280px;
    }
}
